body,

html {
margin:0;
padding:0;
color:#000;
background:#FFFFF;
}

wrap {
width:100%
margin:0 auto;
text-align: center;
}

header {
padding:1em;
background:#ddd;
text-align:center;
}

h1 {
margin:100;
  text-align:center;
}

columnzero{
float:left;
width:50%;
padding:10px;
background:#F39C12;
}

columnone {
float:right;
width:50%;
padding:10px;
background:#2E86C1;
}

columntwo {
float:left;
width:50%;
padding:15px;
background:#F39C12;
}

footer {
clear:both;
padding:5px 10px;
margin: 0;
}
